body {
    font-family: 'Courier New', DFKai-sb;
    padding: 1em;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.67em 0;
}
.option {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0.67em 0;
}
.option-title {
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: right;
}
.option-content {
    float: left;
    width: 50%;
    height: 50px;
    text-align: left;
}
.option-content p {
    float: left;
    line-height: 50px;
    text-align: left;
}
.btn {
    font-size: 1em;
}
.option-content .number-input {
    float: left;
    margin: 8px 0;
}
.number-input {
    font-family: 'Courier New';
    font-size: 1em;
    width: 80px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
.btn.active {
    color: black !important;
    font-weight: bold;
}
.option-start {
    float: left;
    width: 100%;
    margin: 1em 0;
}
.btn-start {
    font-size: 1.5em;
}
.info {
    float: left;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
.info.stat {
    width: 20%;
}
.info.margin {
    width: 30%;
}
.info.question {
    font-family: 'Courier New';
}
.equation {
    display: inline-block;
    line-height: 34px;
}
.answer {
    display: inline-block;
}